


#buttonLogin {
    width: 6em;
    border: 2px solid green;
    background: #ffe;
    border-radius: 5px;
    
}
a {
    display: block;
    width: 100%;
    line-height: 2em;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    color: #791417;
    text-decoration-color: #791417;
    
}
a:hover {
    color: red;
    background: #eff;
}

h2 {
    color: #791417;
    text-align: center;
}

#loginButton {
    text-align: center;
    margin-top: 8px;
    margin-bottom: 8px;

}

hr {
    width: 80%;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: transparent;
    color: #791417;
    
}
