#button {
    width: 6em;
    border: 2px solid green;
    background: #ffe;
    border-radius: 5px;
    
}
#bottomButton {
    text-align: center;
}
a {
    display: block;
    width: 100%;
    line-height: 2em;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    color: #791417;
    text-decoration-color: #791417;
    
}
a:hover {
    color: red;
    background: #eff;
}


h2 {
    white-space: nowrap;
    color: #791417;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}
hr {
    width: 80%;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: transparent;
    color: #791417;
}

#type1 {
    float: left;
}

.clearfix1 {
    clear: both;
}

#type2 {
    float: left;
}

}
.clearfix2 {
    clear: both;
}

#label1 {
    margin-right: 5px;
    float: right;
    
}
#label2 {
    margin-right: -63px;
    float: right;
    margin-bottom: 5px;
}
#label3 {
    margin-right: 5px;
    float: right;

}
#label4 {
    margin-right: -47px;
    float: right;
    margin-bottom: 5px;

}

#nameDocument {
    margin-bottom: 5px;
    margin-left: 20px;
    margin-top: 5px;
}